<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject">
        <activity
            android:name=".member.Member_UnenrollConfirmation"
            android:exported="true" />
        <activity
            android:name=".member.Member_UnenrollList"
            android:exported="true" />
        <activity
            android:name=".member.Member_ViewMyClasses"
            android:exported="true" />
        <activity
            android:name=".member.Member_EnrollConfirmation"
            android:exported="true" />
        <activity
            android:name=".member.Member_EnrollList"
            android:exported="true" />
        <activity
            android:name=".member.Member_ViewClassInfo"
            android:exported="true" />
        <activity
            android:name=".member.Member_ViewSchedClasses"
            android:exported="true" />
        <activity
            android:name=".member.Member_LoginPage"
            android:exported="true" />
        <activity
            android:name=".instructor.Instructor_CancelClassList"
            android:exported="true" />
        <activity
            android:name=".instructor.Instructor_ViewAllScheduled"
            android:exported="true" />
        <activity
            android:name=".instructor.Instructor_ViewMyClasses"
            android:exported="true" />
        <activity
            android:name=".instructor.Instructor_EditClass"
            android:exported="true" />
        <activity
            android:name=".instructor.Instructor_ScheduleClass"
            android:exported="true" />
        <activity
            android:name=".instructor.Instructor_EditClassList"
            android:exported="true" />
        <activity
            android:name=".instructor.Instructor_ScheduleClassList"
            android:exported="true" />
        <activity
            android:name=".instructor.Instructor_ViewMyClassesList"
            android:exported="true" />
        <activity
            android:name=".instructor.InstructorLoginPage"
            android:exported="true" />
        <activity
            android:name=".baseadmin.ChangeClassInfo"
            android:exported="true" />
        <activity
            android:name=".baseadmin.DeleteUser"
            android:exported="true" />
        <activity
            android:name=".baseadmin.EditClass"
            android:exported="true" />
        <activity
            android:name=".baseadmin.DeleteClass"
            android:exported="true" />
        <activity
            android:name=".baseadmin.CreateClass"
            android:exported="true" />
        <activity
            android:name=".baseadmin.AdminPage"
            android:exported="true" />
        <activity
            android:name=".baseadmin.LoginPage"
            android:exported="true" />
        <activity
            android:name=".baseadmin.Signup"
            android:exported="true" />
        <activity
            android:name=".baseadmin.Signup2"
            android:exported="true" />
        <activity
            android:name=".baseadmin.Login"
            android:exported="true" />
        <activity
            android:name=".baseadmin.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>